$font-family-main: "Open Sans", sans-serif;

$white: #ffffff;
$light-gray: #f6f7f9;
$black: #000000;
$deep-dark: #1c1c1c;
$medium-dark: #131314;
$main-dark: #1f1f1f;
$special-dark: #070707;
$cyan: #0ad9c6;

$tablet-width-max: 1023px;
$mobile-width-max: 767px;
