.header {
  padding-bottom: 240px;
  background-color: $medium-dark;
  background-image: url("../img/main-background-desktop@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: -0.005em;
  color: $white;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-background-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-max) {
    position: relative;
    padding-bottom: 70px;
    background: none;
  }
}

.header__wrapper {
  @media (min-width: $desktop-width-min) {
    width: 60.83%;
    max-width: 876px;
  }

  @media (max-width: $tablet-width-max) {
    padding: 0;
  }
}

.header__main {
  min-height: 50px;

  @media (min-width: $desktop-width-min) {
    display: flex;
    flex-direction: column;
  }
}

.header__logo {
  display: block;
  width: 67px;
  height: 21px;

  @media (max-width: $tablet-width-max) {
    margin-top: 0;
    padding-top: 25px;
    padding-left: 20px;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: 16px;
  }
}

.header__nav {
  margin-bottom: 256px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 0;
  }
}
