.promo__text {
  h2 {
    font-size: 46px;
    line-height: 64px;
    font-weight: 700;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    opacity: 0.8;
  }
}

.promo__callback {
  p {
    font-size: 17px;
    line-height: 28px;
    font-weight: 600;
  }
}

.promo__callback-field {
  input {
    font-size: 15px;
    line-height: 24px;
    color: rgba($deep-dark, 0.5);
  }
}

.promo__callback-submit {
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  background-color: $cyan;
  border: none;
}
